.centerTable {
	margin-left:auto; 
	margin-right:auto;
	text-align:center;
	font-family: DFKai-sb;
}

.shadow {
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.headLayer{
	text-align:center;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color:rgb(71, 54, 250, 0.9);
	color:white;
	letter-spacing:2px;
	font-family: DFKai-sb;
}

.in_table{
	padding-top: 5px;
	padding-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    color: rgb(249, 140, 7);
    border:0px solid rgb(0, 0, 0) !important;
    border-radius: 5px;
	font-family: DFKai-sb;
}

.innerObj{
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    color: rgb(249, 140, 7);
    border: 0px;
	font-family: DFKai-sb;
}
  
#table-wrapper {
	position:relative;
	height:100%;
	font-family: DFKai-sb;
}

#table-scroll {
	height:100%;
	overflow-x:hidden;
	overflow-y:auto;  
	margin-top:5px;
	font-family: DFKai-sb;
}

.btn {
	display: block;
	border: none;
	background-color: rgb(179, 179, 255, 0.9);
	color: black;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
	border-radius: 3px;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
	font-family: DFKai-sb;
}

.btn:hover {
	background-color: rgb(0, 0, 255, 0.9);
	color: white;
	transform: translateY(-2px);
	box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.5);
}

.btn:active {
	transform: translateY(-2px) scale(.98);
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.small_btn {
	display: block;
	border: none;
	color: black;
	padding: 5px 10px;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
	border-radius: 15px;
    font-family: DFKai-sb;
    font-weight: bold;
}

.small_btn:hover {
	color: white;
	transform: translateY(-2px);
}

.small_btn:active {
	transform: translateY(-2px) scale(.98);
}

.add_btn{
    background-color: #b3b3ff;
}

.add_btn:hover{
    background-color: #0000ff;
    box-shadow: 2px 2px 3px 2px RoyalBlue;
}

.remove_btn{
    background-color: #fd9999;
}

.remove_btn:hover{
    background-color: #ff0000;
    box-shadow: 2px 2px 3px 2px #b24949;
}

.switch_btn{
	border: none;
    height: 50px;
	background-color: rgba(109, 238, 255, 0.9);
	color: black;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
	border-radius: 5px;
    font-family: DFKai-sb;
}

.switch_btn:hover {
	background-color: rgba(0, 225, 255, 0.9);
	color: black;
	transform: translateY(-2px);
	box-shadow: 2px 2px 3px 2px rgba(0, 135, 152, 0.9);
}

.switch_btn:active {
	transform: translateY(-2px) scale(.98);
}

.switch_btn_click {
	border: none;
    height: 50px;
	background-color: rgba(0, 76, 255, 0.9);
    transform: translateY(-2px);
	box-shadow: 2px 2px 3px 2px rgba(3, 41, 128, 0.9);
	color: white;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
	border-radius: 5px;
    font-weight: bold;
    font-family: DFKai-sb;
}

.switch_btn_click:hover {
	background-color: rgba(0, 76, 255, 0.9);
	color: white;
	transform: translateY(-2px);
	box-shadow: 2px 2px 3px 2px rgba(3, 41, 128, 0.9);
}

.switch_btn_click:active {
	transform: translateY(-2px) scale(.98);
}

@font-face {
	font-family: GreatVibes;
	src: url(../GreatVibes-Regular.ttf);
}
@font-face {
	font-family: Playball;
	src: url(../Playball-Regular.ttf);
}