body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #f9f9f9; 
	color: #333;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

#content-container {
	display: flex;
	align-items: center;
}

#photo {
	max-width: 50%;
	margin-right: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#myTable {
	border-collapse: collapse;
	position: absolute;
	top: 20%;
	left: 80%;
	width: 50%;
	background-color: #ffe0b2;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#myTable td, #myTable th {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: center; /* 居中对齐 */
	font-family: '標楷體', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* 设置字体为標楷體 */
}

#myTable th {
	background-color: #ffb74d;
	color: #fff;
}