body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #fff;
	color: #ff8c42;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

h1 {
	color: #4f42ff;
}

h2 {
	color: #4f42ff;
}

#line {
	border-top: 3px solid #4f42ff;
	margin: 0px;
	margin-bottom: 20px;
}

#content-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 10px;
	margin-bottom: 20px;
}

#form-container {
	font-family: '標楷體', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #fff;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	text-align: center;
	max-width: 500px;
	width: 100%;
}

label {
	display: block;
	margin: 15px 0 5px;
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	color: #b05717;
}

input, select {
	font-family: '標楷體', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	width: 100%;
	height: 100%;
	padding: 10px;
	margin-bottom: 20px;
	box-sizing: border-box;
	border: 2px solid #ff8c42;
	background-color: transparent;
	color: #000;
	font-size: 16px;
	border-radius: 5px;
	outline: none;
	line-height: 30px;
	text-align: center;
}

input, select:focus {
	border: 2px solid #e07a5f;
}

.button_submit {
	background-color: #e07a5f;
	color: #fff;
	padding: 12px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 24px;
	transition: background-color 0.3s ease;
}

.button_submit:hover {
	background-color: #d64541;
}

#btn_next {
	display: none;
}

#btn_summary {
	display: none;
}

#show_winners {
	display: none;
}

.centerTable {
	margin-left:auto; 
	margin-right:auto;
	text-align:center;
	font-size: 24px;
}

#winners_table td, #winners_table th {
	border: 1px solid #ddd;
	font-size: 30px;
	padding: 8px;
	text-align: center;
	font-family: '標楷體', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#winners_table th {
	background-color: #ffb74d;
	color: #fff;
}